.container{
    width: 99.5%;
    height: 100vh;
    background-color: aqua;
    border: 3.5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    border: 0;
    border: 2px solid black;
    border-radius: 25px;
    font-size: 35px;

}
